In [1]:
for i in range(100, 0, -1):
    print(f"\nMultiplication table for {i}:")
    for j in range(1, 21):
        print(f"{i} × {j} = {i * j}")

Multiplication table for 100:
100 × 1 = 100
100 × 2 = 200
100 × 3 = 300
100 × 4 = 400
100 × 5 = 500
100 × 6 = 600
100 × 7 = 700
100 × 8 = 800
100 × 9 = 900
100 × 10 = 1000
100 × 11 = 1100
100 × 12 = 1200
100 × 13 = 1300
100 × 14 = 1400
100 × 15 = 1500
100 × 16 = 1600
100 × 17 = 1700
100 × 18 = 1800
100 × 19 = 1900
100 × 20 = 2000

Multiplication table for 99:
99 × 1 = 99
99 × 2 = 198
99 × 3 = 297
99 × 4 = 396
99 × 5 = 495
99 × 6 = 594
99 × 7 = 693
99 × 8 = 792
99 × 9 = 891
99 × 10 = 990
99 × 11 = 1089
99 × 12 = 1188
99 × 13 = 1287
99 × 14 = 1386
99 × 15 = 1485
99 × 16 = 1584
99 × 17 = 1683
99 × 18 = 1782
99 × 19 = 1881
99 × 20 = 1980

Multiplication table for 98:
98 × 1 = 98
98 × 2 = 196
98 × 3 = 294
98 × 4 = 392
98 × 5 = 490
98 × 6 = 588
98 × 7 = 686
98 × 8 = 784
98 × 9 = 882
98 × 10 = 980
98 × 11 = 1078
98 × 12 = 1176
98 × 13 = 1274
98 × 14 = 1372
98 × 15 = 1470
98 × 16 = 1568
98 × 17 = 1666
98 × 18 = 1764
98 × 19 = 1862
98 × 20 = 1960

Multiplication table for 97:
97 × 1 = 97
97 × 2 = 194
97 × 3 = 291
97 × 4 = 388
97 × 5 = 485
97 × 6 = 582
97 × 7 = 679
97 × 8 = 776
97 × 9 = 873
97 × 10 = 970
97 × 11 = 1067
97 × 12 = 1164
97 × 13 = 1261
97 × 14 = 1358
97 × 15 = 1455
97 × 16 = 1552
97 × 17 = 1649
97 × 18 = 1746
97 × 19 = 1843
97 × 20 = 1940

Multiplication table for 96:
96 × 1 = 96
96 × 2 = 192
96 × 3 = 288
96 × 4 = 384
96 × 5 = 480
96 × 6 = 576
96 × 7 = 672
96 × 8 = 768
96 × 9 = 864
96 × 10 = 960
96 × 11 = 1056
96 × 12 = 1152
96 × 13 = 1248
96 × 14 = 1344
96 × 15 = 1440
96 × 16 = 1536
96 × 17 = 1632
96 × 18 = 1728
96 × 19 = 1824
96 × 20 = 1920

Multiplication table for 95:
95 × 1 = 95
95 × 2 = 190
95 × 3 = 285
95 × 4 = 380
95 × 5 = 475
95 × 6 = 570
95 × 7 = 665
95 × 8 = 760
95 × 9 = 855
95 × 10 = 950
95 × 11 = 1045
95 × 12 = 1140
95 × 13 = 1235
95 × 14 = 1330
95 × 15 = 1425
95 × 16 = 1520
95 × 17 = 1615
95 × 18 = 1710
95 × 19 = 1805
95 × 20 = 1900

Multiplication table for 94:
94 × 1 = 94
94 × 2 = 188
94 × 3 = 282
94 × 4 = 376
94 × 5 = 470
94 × 6 = 564
94 × 7 = 658
94 × 8 = 752
94 × 9 = 846
94 × 10 = 940
94 × 11 = 1034
94 × 12 = 1128
94 × 13 = 1222
94 × 14 = 1316
94 × 15 = 1410
94 × 16 = 1504
94 × 17 = 1598
94 × 18 = 1692
94 × 19 = 1786
94 × 20 = 1880

Multiplication table for 93:
93 × 1 = 93
93 × 2 = 186
93 × 3 = 279
93 × 4 = 372
93 × 5 = 465
93 × 6 = 558
93 × 7 = 651
93 × 8 = 744
93 × 9 = 837
93 × 10 = 930
93 × 11 = 1023
93 × 12 = 1116
93 × 13 = 1209
93 × 14 = 1302
93 × 15 = 1395
93 × 16 = 1488
93 × 17 = 1581
93 × 18 = 1674
93 × 19 = 1767
93 × 20 = 1860

Multiplication table for 92:
92 × 1 = 92
92 × 2 = 184
92 × 3 = 276
92 × 4 = 368
92 × 5 = 460
92 × 6 = 552
92 × 7 = 644
92 × 8 = 736
92 × 9 = 828
92 × 10 = 920
92 × 11 = 1012
92 × 12 = 1104
92 × 13 = 1196
92 × 14 = 1288
92 × 15 = 1380
92 × 16 = 1472
92 × 17 = 1564
92 × 18 = 1656
92 × 19 = 1748
92 × 20 = 1840

Multiplication table for 91:
91 × 1 = 91
91 × 2 = 182
91 × 3 = 273
91 × 4 = 364
91 × 5 = 455
91 × 6 = 546
91 × 7 = 637
91 × 8 = 728
91 × 9 = 819
91 × 10 = 910
91 × 11 = 1001
91 × 12 = 1092
91 × 13 = 1183
91 × 14 = 1274
91 × 15 = 1365
91 × 16 = 1456
91 × 17 = 1547
91 × 18 = 1638
91 × 19 = 1729
91 × 20 = 1820

Multiplication table for 90:
90 × 1 = 90
90 × 2 = 180
90 × 3 = 270
90 × 4 = 360
90 × 5 = 450
90 × 6 = 540
90 × 7 = 630
90 × 8 = 720
90 × 9 = 810
90 × 10 = 900
90 × 11 = 990
90 × 12 = 1080
90 × 13 = 1170
90 × 14 = 1260
90 × 15 = 1350
90 × 16 = 1440
90 × 17 = 1530
90 × 18 = 1620
90 × 19 = 1710
90 × 20 = 1800

Multiplication table for 89:
89 × 1 = 89
89 × 2 = 178
89 × 3 = 267
89 × 4 = 356
89 × 5 = 445
89 × 6 = 534
89 × 7 = 623
89 × 8 = 712
89 × 9 = 801
89 × 10 = 890
89 × 11 = 979
89 × 12 = 1068
89 × 13 = 1157
89 × 14 = 1246
89 × 15 = 1335
89 × 16 = 1424
89 × 17 = 1513
89 × 18 = 1602
89 × 19 = 1691
89 × 20 = 1780

Multiplication table for 88:
88 × 1 = 88
88 × 2 = 176
88 × 3 = 264
88 × 4 = 352
88 × 5 = 440
88 × 6 = 528
88 × 7 = 616
88 × 8 = 704
88 × 9 = 792
88 × 10 = 880
88 × 11 = 968
88 × 12 = 1056
88 × 13 = 1144
88 × 14 = 1232
88 × 15 = 1320
88 × 16 = 1408
88 × 17 = 1496
88 × 18 = 1584
88 × 19 = 1672
88 × 20 = 1760

Multiplication table for 87:
87 × 1 = 87
87 × 2 = 174
87 × 3 = 261
87 × 4 = 348
87 × 5 = 435
87 × 6 = 522
87 × 7 = 609
87 × 8 = 696
87 × 9 = 783
87 × 10 = 870
87 × 11 = 957
87 × 12 = 1044
87 × 13 = 1131
87 × 14 = 1218
87 × 15 = 1305
87 × 16 = 1392
87 × 17 = 1479
87 × 18 = 1566
87 × 19 = 1653
87 × 20 = 1740

Multiplication table for 86:
86 × 1 = 86
86 × 2 = 172
86 × 3 = 258
86 × 4 = 344
86 × 5 = 430
86 × 6 = 516
86 × 7 = 602
86 × 8 = 688
86 × 9 = 774
86 × 10 = 860
86 × 11 = 946
86 × 12 = 1032
86 × 13 = 1118
86 × 14 = 1204
86 × 15 = 1290
86 × 16 = 1376
86 × 17 = 1462
86 × 18 = 1548
86 × 19 = 1634
86 × 20 = 1720

Multiplication table for 85:
85 × 1 = 85
85 × 2 = 170
85 × 3 = 255
85 × 4 = 340
85 × 5 = 425
85 × 6 = 510
85 × 7 = 595
85 × 8 = 680
85 × 9 = 765
85 × 10 = 850
85 × 11 = 935
85 × 12 = 1020
85 × 13 = 1105
85 × 14 = 1190
85 × 15 = 1275
85 × 16 = 1360
85 × 17 = 1445
85 × 18 = 1530
85 × 19 = 1615
85 × 20 = 1700

Multiplication table for 84:
84 × 1 = 84
84 × 2 = 168
84 × 3 = 252
84 × 4 = 336
84 × 5 = 420
84 × 6 = 504
84 × 7 = 588
84 × 8 = 672
84 × 9 = 756
84 × 10 = 840
84 × 11 = 924
84 × 12 = 1008
84 × 13 = 1092
84 × 14 = 1176
84 × 15 = 1260
84 × 16 = 1344
84 × 17 = 1428
84 × 18 = 1512
84 × 19 = 1596
84 × 20 = 1680

Multiplication table for 83:
83 × 1 = 83
83 × 2 = 166
83 × 3 = 249
83 × 4 = 332
83 × 5 = 415
83 × 6 = 498
83 × 7 = 581
83 × 8 = 664
83 × 9 = 747
83 × 10 = 830
83 × 11 = 913
83 × 12 = 996
83 × 13 = 1079
83 × 14 = 1162
83 × 15 = 1245
83 × 16 = 1328
83 × 17 = 1411
83 × 18 = 1494
83 × 19 = 1577
83 × 20 = 1660

Multiplication table for 82:
82 × 1 = 82
82 × 2 = 164
82 × 3 = 246
82 × 4 = 328
82 × 5 = 410
82 × 6 = 492
82 × 7 = 574
82 × 8 = 656
82 × 9 = 738
82 × 10 = 820
82 × 11 = 902
82 × 12 = 984
82 × 13 = 1066
82 × 14 = 1148
82 × 15 = 1230
82 × 16 = 1312
82 × 17 = 1394
82 × 18 = 1476
82 × 19 = 1558
82 × 20 = 1640

Multiplication table for 81:
81 × 1 = 81
81 × 2 = 162
81 × 3 = 243
81 × 4 = 324
81 × 5 = 405
81 × 6 = 486
81 × 7 = 567
81 × 8 = 648
81 × 9 = 729
81 × 10 = 810
81 × 11 = 891
81 × 12 = 972
81 × 13 = 1053
81 × 14 = 1134
81 × 15 = 1215
81 × 16 = 1296
81 × 17 = 1377
81 × 18 = 1458
81 × 19 = 1539
81 × 20 = 1620

Multiplication table for 80:
80 × 1 = 80
80 × 2 = 160
80 × 3 = 240
80 × 4 = 320
80 × 5 = 400
80 × 6 = 480
80 × 7 = 560
80 × 8 = 640
80 × 9 = 720
80 × 10 = 800
80 × 11 = 880
80 × 12 = 960
80 × 13 = 1040
80 × 14 = 1120
80 × 15 = 1200
80 × 16 = 1280
80 × 17 = 1360
80 × 18 = 1440
80 × 19 = 1520
80 × 20 = 1600

Multiplication table for 79:
79 × 1 = 79
79 × 2 = 158
79 × 3 = 237
79 × 4 = 316
79 × 5 = 395
79 × 6 = 474
79 × 7 = 553
79 × 8 = 632
79 × 9 = 711
79 × 10 = 790
79 × 11 = 869
79 × 12 = 948
79 × 13 = 1027
79 × 14 = 1106
79 × 15 = 1185
79 × 16 = 1264
79 × 17 = 1343
79 × 18 = 1422
79 × 19 = 1501
79 × 20 = 1580

Multiplication table for 78:
78 × 1 = 78
78 × 2 = 156
78 × 3 = 234
78 × 4 = 312
78 × 5 = 390
78 × 6 = 468
78 × 7 = 546
78 × 8 = 624
78 × 9 = 702
78 × 10 = 780
78 × 11 = 858
78 × 12 = 936
78 × 13 = 1014
78 × 14 = 1092
78 × 15 = 1170
78 × 16 = 1248
78 × 17 = 1326
78 × 18 = 1404
78 × 19 = 1482
78 × 20 = 1560

Multiplication table for 77:
77 × 1 = 77
77 × 2 = 154
77 × 3 = 231
77 × 4 = 308
77 × 5 = 385
77 × 6 = 462
77 × 7 = 539
77 × 8 = 616
77 × 9 = 693
77 × 10 = 770
77 × 11 = 847
77 × 12 = 924
77 × 13 = 1001
77 × 14 = 1078
77 × 15 = 1155
77 × 16 = 1232
77 × 17 = 1309
77 × 18 = 1386
77 × 19 = 1463
77 × 20 = 1540

Multiplication table for 76:
76 × 1 = 76
76 × 2 = 152
76 × 3 = 228
76 × 4 = 304
76 × 5 = 380
76 × 6 = 456
76 × 7 = 532
76 × 8 = 608
76 × 9 = 684
76 × 10 = 760
76 × 11 = 836
76 × 12 = 912
76 × 13 = 988
76 × 14 = 1064
76 × 15 = 1140
76 × 16 = 1216
76 × 17 = 1292
76 × 18 = 1368
76 × 19 = 1444
76 × 20 = 1520

Multiplication table for 75:
75 × 1 = 75
75 × 2 = 150
75 × 3 = 225
75 × 4 = 300
75 × 5 = 375
75 × 6 = 450
75 × 7 = 525
75 × 8 = 600
75 × 9 = 675
75 × 10 = 750
75 × 11 = 825
75 × 12 = 900
75 × 13 = 975
75 × 14 = 1050
75 × 15 = 1125
75 × 16 = 1200
75 × 17 = 1275
75 × 18 = 1350
75 × 19 = 1425
75 × 20 = 1500

Multiplication table for 74:
74 × 1 = 74
74 × 2 = 148
74 × 3 = 222
74 × 4 = 296
74 × 5 = 370
74 × 6 = 444
74 × 7 = 518
74 × 8 = 592
74 × 9 = 666
74 × 10 = 740
74 × 11 = 814
74 × 12 = 888
74 × 13 = 962
74 × 14 = 1036
74 × 15 = 1110
74 × 16 = 1184
74 × 17 = 1258
74 × 18 = 1332
74 × 19 = 1406
74 × 20 = 1480

Multiplication table for 73:
73 × 1 = 73
73 × 2 = 146
73 × 3 = 219
73 × 4 = 292
73 × 5 = 365
73 × 6 = 438
73 × 7 = 511
73 × 8 = 584
73 × 9 = 657
73 × 10 = 730
73 × 11 = 803
73 × 12 = 876
73 × 13 = 949
73 × 14 = 1022
73 × 15 = 1095
73 × 16 = 1168
73 × 17 = 1241
73 × 18 = 1314
73 × 19 = 1387
73 × 20 = 1460

Multiplication table for 72:
72 × 1 = 72
72 × 2 = 144
72 × 3 = 216
72 × 4 = 288
72 × 5 = 360
72 × 6 = 432
72 × 7 = 504
72 × 8 = 576
72 × 9 = 648
72 × 10 = 720
72 × 11 = 792
72 × 12 = 864
72 × 13 = 936
72 × 14 = 1008
72 × 15 = 1080
72 × 16 = 1152
72 × 17 = 1224
72 × 18 = 1296
72 × 19 = 1368
72 × 20 = 1440

Multiplication table for 71:
71 × 1 = 71
71 × 2 = 142
71 × 3 = 213
71 × 4 = 284
71 × 5 = 355
71 × 6 = 426
71 × 7 = 497
71 × 8 = 568
71 × 9 = 639
71 × 10 = 710
71 × 11 = 781
71 × 12 = 852
71 × 13 = 923
71 × 14 = 994
71 × 15 = 1065
71 × 16 = 1136
71 × 17 = 1207
71 × 18 = 1278
71 × 19 = 1349
71 × 20 = 1420

Multiplication table for 70:
70 × 1 = 70
70 × 2 = 140
70 × 3 = 210
70 × 4 = 280
70 × 5 = 350
70 × 6 = 420
70 × 7 = 490
70 × 8 = 560
70 × 9 = 630
70 × 10 = 700
70 × 11 = 770
70 × 12 = 840
70 × 13 = 910
70 × 14 = 980
70 × 15 = 1050
70 × 16 = 1120
70 × 17 = 1190
70 × 18 = 1260
70 × 19 = 1330
70 × 20 = 1400

Multiplication table for 69:
69 × 1 = 69
69 × 2 = 138
69 × 3 = 207
69 × 4 = 276
69 × 5 = 345
69 × 6 = 414
69 × 7 = 483
69 × 8 = 552
69 × 9 = 621
69 × 10 = 690
69 × 11 = 759
69 × 12 = 828
69 × 13 = 897
69 × 14 = 966
69 × 15 = 1035
69 × 16 = 1104
69 × 17 = 1173
69 × 18 = 1242
69 × 19 = 1311
69 × 20 = 1380

Multiplication table for 68:
68 × 1 = 68
68 × 2 = 136
68 × 3 = 204
68 × 4 = 272
68 × 5 = 340
68 × 6 = 408
68 × 7 = 476
68 × 8 = 544
68 × 9 = 612
68 × 10 = 680
68 × 11 = 748
68 × 12 = 816
68 × 13 = 884
68 × 14 = 952
68 × 15 = 1020
68 × 16 = 1088
68 × 17 = 1156
68 × 18 = 1224
68 × 19 = 1292
68 × 20 = 1360

Multiplication table for 67:
67 × 1 = 67
67 × 2 = 134
67 × 3 = 201
67 × 4 = 268
67 × 5 = 335
67 × 6 = 402
67 × 7 = 469
67 × 8 = 536
67 × 9 = 603
67 × 10 = 670
67 × 11 = 737
67 × 12 = 804
67 × 13 = 871
67 × 14 = 938
67 × 15 = 1005
67 × 16 = 1072
67 × 17 = 1139
67 × 18 = 1206
67 × 19 = 1273
67 × 20 = 1340

Multiplication table for 66:
66 × 1 = 66
66 × 2 = 132
66 × 3 = 198
66 × 4 = 264
66 × 5 = 330
66 × 6 = 396
66 × 7 = 462
66 × 8 = 528
66 × 9 = 594
66 × 10 = 660
66 × 11 = 726
66 × 12 = 792
66 × 13 = 858
66 × 14 = 924
66 × 15 = 990
66 × 16 = 1056
66 × 17 = 1122
66 × 18 = 1188
66 × 19 = 1254
66 × 20 = 1320

Multiplication table for 65:
65 × 1 = 65
65 × 2 = 130
65 × 3 = 195
65 × 4 = 260
65 × 5 = 325
65 × 6 = 390
65 × 7 = 455
65 × 8 = 520
65 × 9 = 585
65 × 10 = 650
65 × 11 = 715
65 × 12 = 780
65 × 13 = 845
65 × 14 = 910
65 × 15 = 975
65 × 16 = 1040
65 × 17 = 1105
65 × 18 = 1170
65 × 19 = 1235
65 × 20 = 1300

Multiplication table for 64:
64 × 1 = 64
64 × 2 = 128
64 × 3 = 192
64 × 4 = 256
64 × 5 = 320
64 × 6 = 384
64 × 7 = 448
64 × 8 = 512
64 × 9 = 576
64 × 10 = 640
64 × 11 = 704
64 × 12 = 768
64 × 13 = 832
64 × 14 = 896
64 × 15 = 960
64 × 16 = 1024
64 × 17 = 1088
64 × 18 = 1152
64 × 19 = 1216
64 × 20 = 1280

Multiplication table for 63:
63 × 1 = 63
63 × 2 = 126
63 × 3 = 189
63 × 4 = 252
63 × 5 = 315
63 × 6 = 378
63 × 7 = 441
63 × 8 = 504
63 × 9 = 567
63 × 10 = 630
63 × 11 = 693
63 × 12 = 756
63 × 13 = 819
63 × 14 = 882
63 × 15 = 945
63 × 16 = 1008
63 × 17 = 1071
63 × 18 = 1134
63 × 19 = 1197
63 × 20 = 1260

Multiplication table for 62:
62 × 1 = 62
62 × 2 = 124
62 × 3 = 186
62 × 4 = 248
62 × 5 = 310
62 × 6 = 372
62 × 7 = 434
62 × 8 = 496
62 × 9 = 558
62 × 10 = 620
62 × 11 = 682
62 × 12 = 744
62 × 13 = 806
62 × 14 = 868
62 × 15 = 930
62 × 16 = 992
62 × 17 = 1054
62 × 18 = 1116
62 × 19 = 1178
62 × 20 = 1240

Multiplication table for 61:
61 × 1 = 61
61 × 2 = 122
61 × 3 = 183
61 × 4 = 244
61 × 5 = 305
61 × 6 = 366
61 × 7 = 427
61 × 8 = 488
61 × 9 = 549
61 × 10 = 610
61 × 11 = 671
61 × 12 = 732
61 × 13 = 793
61 × 14 = 854
61 × 15 = 915
61 × 16 = 976
61 × 17 = 1037
61 × 18 = 1098
61 × 19 = 1159
61 × 20 = 1220

Multiplication table for 60:
60 × 1 = 60
60 × 2 = 120
60 × 3 = 180
60 × 4 = 240
60 × 5 = 300
60 × 6 = 360
60 × 7 = 420
60 × 8 = 480
60 × 9 = 540
60 × 10 = 600
60 × 11 = 660
60 × 12 = 720
60 × 13 = 780
60 × 14 = 840
60 × 15 = 900
60 × 16 = 960
60 × 17 = 1020
60 × 18 = 1080
60 × 19 = 1140
60 × 20 = 1200

Multiplication table for 59:
59 × 1 = 59
59 × 2 = 118
59 × 3 = 177
59 × 4 = 236
59 × 5 = 295
59 × 6 = 354
59 × 7 = 413
59 × 8 = 472
59 × 9 = 531
59 × 10 = 590
59 × 11 = 649
59 × 12 = 708
59 × 13 = 767
59 × 14 = 826
59 × 15 = 885
59 × 16 = 944
59 × 17 = 1003
59 × 18 = 1062
59 × 19 = 1121
59 × 20 = 1180

Multiplication table for 58:
58 × 1 = 58
58 × 2 = 116
58 × 3 = 174
58 × 4 = 232
58 × 5 = 290
58 × 6 = 348
58 × 7 = 406
58 × 8 = 464
58 × 9 = 522
58 × 10 = 580
58 × 11 = 638
58 × 12 = 696
58 × 13 = 754
58 × 14 = 812
58 × 15 = 870
58 × 16 = 928
58 × 17 = 986
58 × 18 = 1044
58 × 19 = 1102
58 × 20 = 1160

Multiplication table for 57:
57 × 1 = 57
57 × 2 = 114
57 × 3 = 171
57 × 4 = 228
57 × 5 = 285
57 × 6 = 342
57 × 7 = 399
57 × 8 = 456
57 × 9 = 513
57 × 10 = 570
57 × 11 = 627
57 × 12 = 684
57 × 13 = 741
57 × 14 = 798
57 × 15 = 855
57 × 16 = 912
57 × 17 = 969
57 × 18 = 1026
57 × 19 = 1083
57 × 20 = 1140

Multiplication table for 56:
56 × 1 = 56
56 × 2 = 112
56 × 3 = 168
56 × 4 = 224
56 × 5 = 280
56 × 6 = 336
56 × 7 = 392
56 × 8 = 448
56 × 9 = 504
56 × 10 = 560
56 × 11 = 616
56 × 12 = 672
56 × 13 = 728
56 × 14 = 784
56 × 15 = 840
56 × 16 = 896
56 × 17 = 952
56 × 18 = 1008
56 × 19 = 1064
56 × 20 = 1120

Multiplication table for 55:
55 × 1 = 55
55 × 2 = 110
55 × 3 = 165
55 × 4 = 220
55 × 5 = 275
55 × 6 = 330
55 × 7 = 385
55 × 8 = 440
55 × 9 = 495
55 × 10 = 550
55 × 11 = 605
55 × 12 = 660
55 × 13 = 715
55 × 14 = 770
55 × 15 = 825
55 × 16 = 880
55 × 17 = 935
55 × 18 = 990
55 × 19 = 1045
55 × 20 = 1100

Multiplication table for 54:
54 × 1 = 54
54 × 2 = 108
54 × 3 = 162
54 × 4 = 216
54 × 5 = 270
54 × 6 = 324
54 × 7 = 378
54 × 8 = 432
54 × 9 = 486
54 × 10 = 540
54 × 11 = 594
54 × 12 = 648
54 × 13 = 702
54 × 14 = 756
54 × 15 = 810
54 × 16 = 864
54 × 17 = 918
54 × 18 = 972
54 × 19 = 1026
54 × 20 = 1080

Multiplication table for 53:
53 × 1 = 53
53 × 2 = 106
53 × 3 = 159
53 × 4 = 212
53 × 5 = 265
53 × 6 = 318
53 × 7 = 371
53 × 8 = 424
53 × 9 = 477
53 × 10 = 530
53 × 11 = 583
53 × 12 = 636
53 × 13 = 689
53 × 14 = 742
53 × 15 = 795
53 × 16 = 848
53 × 17 = 901
53 × 18 = 954
53 × 19 = 1007
53 × 20 = 1060

Multiplication table for 52:
52 × 1 = 52
52 × 2 = 104
52 × 3 = 156
52 × 4 = 208
52 × 5 = 260
52 × 6 = 312
52 × 7 = 364
52 × 8 = 416
52 × 9 = 468
52 × 10 = 520
52 × 11 = 572
52 × 12 = 624
52 × 13 = 676
52 × 14 = 728
52 × 15 = 780
52 × 16 = 832
52 × 17 = 884
52 × 18 = 936
52 × 19 = 988
52 × 20 = 1040

Multiplication table for 51:
51 × 1 = 51
51 × 2 = 102
51 × 3 = 153
51 × 4 = 204
51 × 5 = 255
51 × 6 = 306
51 × 7 = 357
51 × 8 = 408
51 × 9 = 459
51 × 10 = 510
51 × 11 = 561
51 × 12 = 612
51 × 13 = 663
51 × 14 = 714
51 × 15 = 765
51 × 16 = 816
51 × 17 = 867
51 × 18 = 918
51 × 19 = 969
51 × 20 = 1020

Multiplication table for 50:
50 × 1 = 50
50 × 2 = 100
50 × 3 = 150
50 × 4 = 200
50 × 5 = 250
50 × 6 = 300
50 × 7 = 350
50 × 8 = 400
50 × 9 = 450
50 × 10 = 500
50 × 11 = 550
50 × 12 = 600
50 × 13 = 650
50 × 14 = 700
50 × 15 = 750
50 × 16 = 800
50 × 17 = 850
50 × 18 = 900
50 × 19 = 950
50 × 20 = 1000

Multiplication table for 49:
49 × 1 = 49
49 × 2 = 98
49 × 3 = 147
49 × 4 = 196
49 × 5 = 245
49 × 6 = 294
49 × 7 = 343
49 × 8 = 392
49 × 9 = 441
49 × 10 = 490
49 × 11 = 539
49 × 12 = 588
49 × 13 = 637
49 × 14 = 686
49 × 15 = 735
49 × 16 = 784
49 × 17 = 833
49 × 18 = 882
49 × 19 = 931
49 × 20 = 980

Multiplication table for 48:
48 × 1 = 48
48 × 2 = 96
48 × 3 = 144
48 × 4 = 192
48 × 5 = 240
48 × 6 = 288
48 × 7 = 336
48 × 8 = 384
48 × 9 = 432
48 × 10 = 480
48 × 11 = 528
48 × 12 = 576
48 × 13 = 624
48 × 14 = 672
48 × 15 = 720
48 × 16 = 768
48 × 17 = 816
48 × 18 = 864
48 × 19 = 912
48 × 20 = 960

Multiplication table for 47:
47 × 1 = 47
47 × 2 = 94
47 × 3 = 141
47 × 4 = 188
47 × 5 = 235
47 × 6 = 282
47 × 7 = 329
47 × 8 = 376
47 × 9 = 423
47 × 10 = 470
47 × 11 = 517
47 × 12 = 564
47 × 13 = 611
47 × 14 = 658
47 × 15 = 705
47 × 16 = 752
47 × 17 = 799
47 × 18 = 846
47 × 19 = 893
47 × 20 = 940

Multiplication table for 46:
46 × 1 = 46
46 × 2 = 92
46 × 3 = 138
46 × 4 = 184
46 × 5 = 230
46 × 6 = 276
46 × 7 = 322
46 × 8 = 368
46 × 9 = 414
46 × 10 = 460
46 × 11 = 506
46 × 12 = 552
46 × 13 = 598
46 × 14 = 644
46 × 15 = 690
46 × 16 = 736
46 × 17 = 782
46 × 18 = 828
46 × 19 = 874
46 × 20 = 920

Multiplication table for 45:
45 × 1 = 45
45 × 2 = 90
45 × 3 = 135
45 × 4 = 180
45 × 5 = 225
45 × 6 = 270
45 × 7 = 315
45 × 8 = 360
45 × 9 = 405
45 × 10 = 450
45 × 11 = 495
45 × 12 = 540
45 × 13 = 585
45 × 14 = 630
45 × 15 = 675
45 × 16 = 720
45 × 17 = 765
45 × 18 = 810
45 × 19 = 855
45 × 20 = 900

Multiplication table for 44:
44 × 1 = 44
44 × 2 = 88
44 × 3 = 132
44 × 4 = 176
44 × 5 = 220
44 × 6 = 264
44 × 7 = 308
44 × 8 = 352
44 × 9 = 396
44 × 10 = 440
44 × 11 = 484
44 × 12 = 528
44 × 13 = 572
44 × 14 = 616
44 × 15 = 660
44 × 16 = 704
44 × 17 = 748
44 × 18 = 792
44 × 19 = 836
44 × 20 = 880

Multiplication table for 43:
43 × 1 = 43
43 × 2 = 86
43 × 3 = 129
43 × 4 = 172
43 × 5 = 215
43 × 6 = 258
43 × 7 = 301
43 × 8 = 344
43 × 9 = 387
43 × 10 = 430
43 × 11 = 473
43 × 12 = 516
43 × 13 = 559
43 × 14 = 602
43 × 15 = 645
43 × 16 = 688
43 × 17 = 731
43 × 18 = 774
43 × 19 = 817
43 × 20 = 860

Multiplication table for 42:
42 × 1 = 42
42 × 2 = 84
42 × 3 = 126
42 × 4 = 168
42 × 5 = 210
42 × 6 = 252
42 × 7 = 294
42 × 8 = 336
42 × 9 = 378
42 × 10 = 420
42 × 11 = 462
42 × 12 = 504
42 × 13 = 546
42 × 14 = 588
42 × 15 = 630
42 × 16 = 672
42 × 17 = 714
42 × 18 = 756
42 × 19 = 798
42 × 20 = 840

Multiplication table for 41:
41 × 1 = 41
41 × 2 = 82
41 × 3 = 123
41 × 4 = 164
41 × 5 = 205
41 × 6 = 246
41 × 7 = 287
41 × 8 = 328
41 × 9 = 369
41 × 10 = 410
41 × 11 = 451
41 × 12 = 492
41 × 13 = 533
41 × 14 = 574
41 × 15 = 615
41 × 16 = 656
41 × 17 = 697
41 × 18 = 738
41 × 19 = 779
41 × 20 = 820

Multiplication table for 40:
40 × 1 = 40
40 × 2 = 80
40 × 3 = 120
40 × 4 = 160
40 × 5 = 200
40 × 6 = 240
40 × 7 = 280
40 × 8 = 320
40 × 9 = 360
40 × 10 = 400
40 × 11 = 440
40 × 12 = 480
40 × 13 = 520
40 × 14 = 560
40 × 15 = 600
40 × 16 = 640
40 × 17 = 680
40 × 18 = 720
40 × 19 = 760
40 × 20 = 800

Multiplication table for 39:
39 × 1 = 39
39 × 2 = 78
39 × 3 = 117
39 × 4 = 156
39 × 5 = 195
39 × 6 = 234
39 × 7 = 273
39 × 8 = 312
39 × 9 = 351
39 × 10 = 390
39 × 11 = 429
39 × 12 = 468
39 × 13 = 507
39 × 14 = 546
39 × 15 = 585
39 × 16 = 624
39 × 17 = 663
39 × 18 = 702
39 × 19 = 741
39 × 20 = 780

Multiplication table for 38:
38 × 1 = 38
38 × 2 = 76
38 × 3 = 114
38 × 4 = 152
38 × 5 = 190
38 × 6 = 228
38 × 7 = 266
38 × 8 = 304
38 × 9 = 342
38 × 10 = 380
38 × 11 = 418
38 × 12 = 456
38 × 13 = 494
38 × 14 = 532
38 × 15 = 570
38 × 16 = 608
38 × 17 = 646
38 × 18 = 684
38 × 19 = 722
38 × 20 = 760

Multiplication table for 37:
37 × 1 = 37
37 × 2 = 74
37 × 3 = 111
37 × 4 = 148
37 × 5 = 185
37 × 6 = 222
37 × 7 = 259
37 × 8 = 296
37 × 9 = 333
37 × 10 = 370
37 × 11 = 407
37 × 12 = 444
37 × 13 = 481
37 × 14 = 518
37 × 15 = 555
37 × 16 = 592
37 × 17 = 629
37 × 18 = 666
37 × 19 = 703
37 × 20 = 740

Multiplication table for 36:
36 × 1 = 36
36 × 2 = 72
36 × 3 = 108
36 × 4 = 144
36 × 5 = 180
36 × 6 = 216
36 × 7 = 252
36 × 8 = 288
36 × 9 = 324
36 × 10 = 360
36 × 11 = 396
36 × 12 = 432
36 × 13 = 468
36 × 14 = 504
36 × 15 = 540
36 × 16 = 576
36 × 17 = 612
36 × 18 = 648
36 × 19 = 684
36 × 20 = 720

Multiplication table for 35:
35 × 1 = 35
35 × 2 = 70
35 × 3 = 105
35 × 4 = 140
35 × 5 = 175
35 × 6 = 210
35 × 7 = 245
35 × 8 = 280
35 × 9 = 315

In [2]:
for n in range(i, 101):
    print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100